@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2>Administration</h2>
                <p>
                    <a asp-controller="AdminExercises"  asp-action="Index">Exercise administration</a>
                </p>
                <p>
                    <a asp-controller="AdminWorkout" asp-action="Index">Workout administration</a>
                </p>
                <p>
                    <a asp-controller="AdminTag" asp-action="Index">Tag administration</a>
                </p>
                <p>
                    <a asp-controller="AdminFood" asp-action="Index">Food administration</a>
                </p><p>
                    <a asp-controller="AdminMuscle" asp-action="Index">Muscle administration</a>
                </p>
                <p>
                    <a asp-controller="AdminMeasurement" asp-action="Index">Measurement administration</a>
                </p>
                
            </div>
        </div>
        </div>
</div>
