@model BeFit.Models.UserProfileViewModels.OneDayWorkoutViewModel

@{
    ViewData["Title"] = "Delete";
}



<div class="container">
    <br/>
    <h3>Are you sure you want to delete workout at @Model.Date.Date?</h3>
    <hr/>
    <br/>
    <form asp-action="Delete" asp-route-user="@Model.AppUserID">

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            <a asp-action="Detail" asp-route-oneDayWorkoutId="@ViewData["oneDayId"]" class="btn btn-grey">Back to Detail</a>
        </div>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
</div>