@model BeFit.Models.MeasurementViewModels.MeasurementViewModel
    @{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Measurement</h4>
    <hr />
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <label>@Model.Name</label>
    </div>
    <div class="form-group">
        <label asp-for="UnitsOfMeasurement" class="col-md-2 control-label"></label>
        <label>@Model.UnitsOfMeasurement</label>
    </div>
  
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
